.BlackKeys button {
	position: absolute;
	border: 1px black solid;
	height: 65%;
	background-color: black;
	color: white;
	width: 8%;
}


.BlackKeys button:nth-child(1) {
  	left: 8.5%;
}

.BlackKeys button:nth-child(2) {
  	left: 21.0%;
}

.BlackKeys button:nth-child(3) {
  	left: 46.2%;
}

.BlackKeys button:nth-child(4) {
  	left: 58.5%;
}

.BlackKeys button:nth-child(5) {
  	left: 71.1%;
}