.BlackKeys button {
	position: absolute;
	border: 1px black solid;
	height: 40%;
	background-color: black;
	color: white;
	width: 5%;
}


.BlackKeys button:nth-child(1) {
  	left: 21.4%;
}

.BlackKeys button:nth-child(2) {
  	left: 29.9%;
}

.BlackKeys button:nth-child(3) {
  	left: 47.5%;
}

.BlackKeys button:nth-child(4) {
  	left: 56.3%;
}

.BlackKeys button:nth-child(5) {
  	left: 65.1%;
}