.App {
  text-align: center;
  margin-top: 5%;
}

div, button:active,
div, button:focus,
div, button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}