.App {
  box-sizing: border-box;
  text-align: center;
  padding-top: 5%;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

div, button:active,
div, button:focus,
div, button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}